<h1 mat-dialog-title> {{ data.title }}</h1>

<div mat-dialog-content>
  <form [formGroup]="frm">






    <mat-form-field>
      <mat-label>Custom EPIC Dept</mat-label>
      <mat-select formControlName="epic_dept"  >

        <mat-option *ngFor="let dept of departments"  value={{dept._label}}>
          {{dept._value}}</mat-option>
      </mat-select>

    </mat-form-field>

    <br />


    <mat-form-field >
      <mat-label>EPIC WorkOrder</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="WorkOrder"
             matInput
             formControlName="workOrder_desc"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let work of filteredOptions | async" value={{work}}>
          {{work}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br />




  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" (click)='save(frm)' class="btnSave" [disabled]="!frm.valid">
    <mat-icon aria-label="icon-button">save </mat-icon>
    <span>Save</span>
  </button>
</div>
