<h1 mat-dialog-title> {{ data.title }}</h1>

<div mat-dialog-content>
  <form [formGroup]="frm">
    <mat-form-field>
      <mat-label> EPIC Dept</mat-label>
      <mat-select formControlName="dept_id" (selectionChange)="doLoadEpics($event)" >

        <mat-option *ngFor="let dept of departments"  value={{dept._label}}>
          {{dept._value}}</mat-option>
      </mat-select>

    </mat-form-field>
    <br/>

    <mat-form-field>
      <mat-label> EPIC JOB</mat-label>
      <mat-select formControlName="epic_id"  (selectionChange)="doLoadTasks($event)" >

        <mat-option *ngFor="let dept of deptEpics"  value={{dept._value}}>
          {{dept._label}}</mat-option>
      </mat-select>

    </mat-form-field>
<br>
    <mat-form-field>
      <textarea  matInput placeholder=" Epic ID" formControlName="epic_read_id" class="person-input" readonly ></textarea>
      <mat-hint align="end">{{frm.controls.epic_read_id.value?.length || 0}}/10</mat-hint>

    </mat-form-field>
    <br />
    <mat-form-field>
      <textarea  matInput placeholder=" User story Description" formControlName="user_story_desc" class="person-input" ></textarea>
      <mat-hint align="end">{{frm.controls.user_story_desc.value?.length || 0}}/10</mat-hint>

    </mat-form-field>

    <br />

    <mat-form-field>
      <textarea  matInput placeholder=" User Story ID" formControlName="user_story_id" class="person-input" ></textarea>
      <mat-hint align="end">{{frm.controls.user_story_id.value?.length || 0}}/10</mat-hint>

    </mat-form-field>





   <br/>

    <mat-form-field >
      <mat-label>EPIC WorkOrder</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="WorkOrder"
             matInput
             formControlName="workOrder_desc"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let work of filteredOptions | async" value={{work}}>
          {{work}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancelar</button>
  <button mat-raised-button color="primary" (click)='save(frm)' class="btnSave" [disabled]="!frm.valid">
    <mat-icon aria-label="icon-button">save </mat-icon>
    <span>Save</span>
  </button>
</div>
