<h1 mat-dialog-title> {{ data.title }}</h1>

<div mat-dialog-content>
  <form [formGroup]="frm">
    <mat-form-field>
      <mat-label> Dept Id</mat-label>      <input  matInput placeholder=" Dept id" formControlName="dept_id" class="person-input" readonly />


    </mat-form-field>
    <br/>


    <mat-form-field>

      <input  matInput placeholder="epic desc" formControlName="epic_desc" class="person-input" readonly />


    </mat-form-field>
    <br/>
    <mat-form-field>
      <input  matInput placeholder=" User Story ID" formControlName="user_story_id" class="person-input" readonly/>


    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="Back Log ID" formControlName="seq_backlog_id" class="person-input" readonly/>


    </mat-form-field>
    <br/>

    <mat-form-field>
      <input  matInput placeholder=" User story Description" formControlName="user_story_desc" class="person-input" readonly />


    </mat-form-field>

    <br />
    <mat-form-field>
      <input  matInput placeholder=" Work Order Ref" formControlName="job_desc" class="person-input" readonly />


    </mat-form-field>

    <br />
    <mat-form-field>
      <input  matInput placeholder=" Sprint JOB Id" formControlName="seq_sprint_job_id" class="person-input" readonly />


    </mat-form-field>
    <mat-form-field>
      <textarea  matInput placeholder="User Comments" formControlName="comments" class="person-input"  ></textarea>
      <mat-hint align="end">{{frm.controls.comments.value?.length || 0}}/250</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label> Assigned To</mat-label>
      <mat-select formControlName="assigned_to"  >

        <mat-option *ngFor="let user of users"  value={{user._value}}>
          {{user._label}}</mat-option>
      </mat-select>

    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-raised-button color="primary" (click)='save(frm)' class="btnSave" [disabled]="!frm.valid">
    <mat-icon aria-label="icon-button">save </mat-icon>
    <span>Save</span>
  </button>
</div>
