<div class="animated fadeIn table-container mat-elevation-z20">
  <mat-card>
    <mat-card-header>
      <i class="material-icons">supervised_user_circle</i>
      <mat-card-title>Bulletin</mat-card-title>
      <mat-card-subtitle> Manage Bulletin</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <!-- Table loading spinner -->
      <div class="table-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </div>

      <div class="table-header">
        <!-- Table search input -->
        <mat-form-field class="filter-field">


          <mat-label>  Messages assigned to Dept </mat-label>
          <mat-select [(ngModel)]="searchByDept"   (selectionChange)="doLoadSprints($event)">

            <mat-option *ngFor="let dept of departments"  value={{dept._value}}>
              {{dept._label}}</mat-option>

          </mat-select>


        </mat-form-field>

        <mat-form-field class="filter-field">


          <mat-label>  Acknowledged Ones </mat-label>
          <mat-select [(ngModel)]="searchByAckStatus"   (selectionChange)="doLoadSprints($event)">

          <mat-option value="Y">Yes</mat-option>
            <mat-option value="N">No</mat-option>
            <mat-option value="">All</mat-option>
          </mat-select>


        </mat-form-field>
        <br/>
        <!-- Table search input -->
        <button mat-raised-button (click)="save()" style="margin-bottom: 15px;" color="primary">
          <mat-icon>add</mat-icon> Add new
        </button>

        <!-- Add button -->
        <!--  <button mat-raised-button (click)="save()" style="margin-bottom: 15px;margin-right: 30px" color="primary">
            <mat-icon>add</mat-icon> Add Standard EPIC/User Story to BackLog
          </button>

          <button mat-raised-button (click)="saveCustom()" style="margin-bottom: 15px;margin-left: 30px" color="primary">
            <mat-icon>add</mat-icon> Add Custom EPIC/User Story to BackLog
          </button>-->
      </div>

      <mat-table #table [dataSource]="dataSource" class="person-table" matSort matSortActive="id" matSortDisableClear
                 matSortDirection="desc">
        <!-- Table content -->


        <ng-container matColumnDef="_job_desc">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Customer Job</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._job_desc}}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="_dept_created_by">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Message Created By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._message_created_by }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_dept_created_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Message Created Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._message_created_date }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_dept_message">
          <mat-header-cell *matHeaderCellDef> Message</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._dept_message }}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="_dept_assigned_to">
          <mat-header-cell *matHeaderCellDef>Dept Assigned To</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._dept_assigned_to }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_target_date">
          <mat-header-cell *matHeaderCellDef>Target Date</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._target_date }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_ack_by">
          <mat-header-cell *matHeaderCellDef>Ack By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._ack_by }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_ack_comments">
          <mat-header-cell *matHeaderCellDef>Ack Comments</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._ack_comments }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="_original_fileName">
          <mat-header-cell *matHeaderCellDef>AttachMent File</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row._original_fileName }}</mat-cell>
        </ng-container>
        <!-- Table actions -->
        <ng-container matColumnDef="_seq_dept_mess_id">
          <mat-header-cell *matHeaderCellDef>
            Actions
          </mat-header-cell>

          <mat-cell *matCellDef="let row">

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Click to see more actions">
              <i class="material-icons">more_vert</i>
            </button>
            <mat-menu #menu="matMenu">
              <!-- <button mat-menu-item (click)="edit(row)">
                 <mat-icon aria-label="Edit">create</mat-icon> Edit
               </button>-->
              <button mat-menu-item (click)="viewMessage(row)" >
                <mat-icon aria-label="Add to Sprint">create</mat-icon> View  Message
              </button>
              <button mat-menu-item (click)="viewAck(row)" >
                <mat-icon aria-label="Add to Sprint">create</mat-icon> View  AckMessage
              </button>
              <button mat-menu-item (click)="edit(row)" >
                <mat-icon aria-label="Edit">create</mat-icon> View Attachment
              </button>

              <button mat-menu-item (click)="ack(row)" *ngIf="row._ack_by?.length <= 0" >
                <mat-icon aria-label="Edit">create</mat-icon> Acknowledge Message
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-progress-bar *ngIf="download$ | async as download"
                        [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'"
                        [value]="download.progress">
      </mat-progress-bar>
      <!-- Table pagination -->
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="totalItems" [pageSize]="pageSize"
                     (page)="onPaginateChange($event)">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
